h1 a ,h2 a{
    font-family: 'Lobster';
    text-decoration: none;
    padding: 10pxpx, 30px;
}

h4 a:hover {
  color: #CD5C5C;
}

body {
  height: 100%;
  margin: 0%;
  padding: 0px;
  font-family: 'Lora', serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover{
  color: #CD5C5C;
}

.page-header {
    background-color: #CD5C5C;
    margin-top: 0;
    padding: 15px 40px 0px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    font-family: Arial;
    
}

.content {
  margin-left: 40px;
}

h1, h2, h3,h4 h5{
  font-family: 'Lobster', cursive;
  color: white;
  margin: 5px;
  
}

a {
  text-decoration: none;
  color: inherit;
}

.date {
  color: #828282;
}

.save {
  float: right;
}

.post-form textarea, .post-form input {
  width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
  color: #ffffff;
  float: right;
  font-size: 26pt;
  padding-top: 10px;
  margin-right: 20px;
}

.post {
  margin-bottom: 70px;
  background-color: #FADBD8 ;
  padding: 10px;
  float: center;
}

.post h2 a, .post h2 a:visited {
  color: #000000;
}

.comment {
  margin: 20px 0px 20px 20px;
}

/* HEADER */

/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: white;
  padding-right: 0px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #CD5C5C;
  color: white;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #CD5C5C;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  background-color: #FADBD8;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/* HEADER END */

/* CAROUSEL */

.page-wrapper {
  min-height: 100%;
}

.page-wrapper a:hover {
  color: #cc0000;
}

/* POST SLIDER */

.post-slider {
  position: realtive;
}

.blog-wrapper {
  size: 20px;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  cursor: pointer;
  color: white;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  padding: 10px 0px 10px 0px;
  margin-top: 0rem;

}

.post-slider .post-wrapper .post-carousel {
  border-radius: 5px;
  background: white;
  display: inline-block;
  width: 300px;
  height: 350px;
  margin: 0px 10px;
  padding-top: 0px auto;
  box-shadow: 1rem 1rem 1rem -1rem black;
}

.post-slider .post-wrapper .post-carousel .post-info {
  height: 130px;
  padding: 0 5px;
}

.post-slider .post-wrapper .post-carousel .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* CAROUSEL */


/* FOOTER */

.footer {
  background: #303036;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  border: 2px solid white;
  height: 350px;
  width: 100%;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 50px;
  border: 1px solid gray;
}
  
.footer .footer-bottom {
background: black;
color:#686868;
height: 50px;
width: 100%;
float: center;
text-align: center;
position: absolute;
bottom: 0px;
left: 0px;
padding-top: 20px;
}

/* FOOTER END */
