{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <title>Django Girls blog</title>
        <body>
            <div class="page-header">
                <header><h1><a href="/">Django Girls Blog</a></h1></header>
            </div>
            <div class="content container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="left-column">
                    {% block content %}
                    {% endblock %}
                        </div>
                        <div class="right-column">
                            <div class="card">
                                <h2>About me</h2>
                                <img src="{% static "img\CVPicture-2.png" %}" alt="me">
                                <p>I am a student in my second year at the University of Birmingham studying Computer Science.Hope you enjoy my site!</p>
                            </div>
                            <div class="card">
                                <h3><a href="https://www.linkedin.com/in/teodora-sandu-504931175/">Connect</a> with me on linkedin</h3>
                            </div>
                        </div>


                        </div>

                    </div>
                </div>
            </div>
        </body>

    </head>
</html>