{% extends 'blog/base.html' %}
{% load static %}
</html>
    {% block content%}
        {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <h5><p>published: {{ post.published_date }}</p></h5>
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
        {% endfor %}
    {% endblock %}
</html>